---
import Layout from '../layouts/Layout.astro';
import MusicCard from '../components/MusicCard.astro';
import { Song } from '@/lib/models/Song';
import { connectDB } from '@/lib/mongodb';

await connectDB();
const songs = await Song.find().sort({ createdAt: -1 });
---

<Layout title="Minha Biblioteca">
  <h1>Lançamentos</h1>
  <div id="music-container" class="list">
    {
      songs.map((song) => (
        <MusicCard
          id={song.id}
          title={song.title}
          fileKey={song.fileKey}
          createdAt={song.createdAt}
          isAdmin={false}
        />
      ))
    }

    {songs.length === 0 && <p>Nenhuma música encontrada.</p>}
  </div>
</Layout>

<style>
  h1 {
    margin-bottom: 2rem;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 2rem 0;
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>

<script>
  import '../scripts/music-action.ts';
</script>
