---
interface Props {
  id: string;
  title: string;
  fileKey: string;
  createdAt: Date;
  isAdmin?: boolean;
}

const { id, title, fileKey, createdAt, isAdmin = false } = Astro.props;

const musicFullUrl = `${import.meta.env.BUCKET_PUBLIC_URL}/${fileKey}`;

const dateFormatted = new Intl.DateTimeFormat('pt', {
  day: 'numeric',
  month: 'long',
  year: 'numeric',
}).format(new Date(createdAt));
---

<div class="card" data-id={id} data-key={fileKey} data-title={title}>
  <div class="info">
    <h2 class="song-title">{title}</h2>
    <span class="date">Lançado em {dateFormatted}</span>
  </div>
  <div class="actions">
    <button
      class="download-btn"
      data-url={musicFullUrl}
      data-filename={fileKey}
    >
      Download
    </button>
    {
      isAdmin && (
        <>
          <button class="edit-btn" title="Editar título">
            Editar
          </button>
          <button class="delete-btn" title="Excluir música">
            Excluir
          </button>
        </>
      )
    }
  </div>
</div>

<style>
  .card {
    display: flex;
    flex-direction: column;
  }

  .info {
    height: 100%;
    h3 {
      margin: 0;
      font-size: 1.125rem;
    }
    span {
      color: gray;
      font-size: 0.875rem;
    }
  }
  .actions {
    display: flex;
    gap: 0.75rem;
    margin-left: auto;
    button {
      font-size: 1rem;
      margin-top: 0.875rem;
      width: max-content;
      &:disabled {
        opacity: 50%;
      }
    }
    .download-btn {
      color: var(--primary-color);
      border: 1px solid #11f8;
      &:hover {
        background-color: #11f1;
      }
    }
    .delete-btn {
      color: #ef4444;
      border: 1px solid #ef444480;
      &:hover {
        background-color: #ef444411;
      }
    }
    .edit-btn {
      color: #f59e0b;
      border: 1px solid #f59e0b80;
      &:hover {
        background-color: #f59e0b11;
      }
    }
  }
</style>
