---
interface Props {
  title: string;
  fileKey: string;
  createdAt: Date;
}

const { title, fileKey, createdAt } = Astro.props;

const BUCKET_PUBLIC_URL = 'https://pub-4acb60e77e00470a9ce80de9a5b1a069.r2.dev';
const musicFullUrl = `${BUCKET_PUBLIC_URL}/${fileKey}`;

const dateFormatted = new Intl.DateTimeFormat('pt-BR').format(
  new Date(createdAt),
);
---

<div class="card">
  <div class="info">
    <h3>{title}</h3>
    <span>Adicionada em: {dateFormatted}</span>
  </div>

  <button class="download-btn" data-url={musicFullUrl} data-filename={fileKey}>
    ↓ Download
  </button>
</div>

<style>
  .card {
    display: flex;
    flex-direction: column;
  }
  .info {
    height: 100%;
    h3 {
      margin: 0;
      font-size: 1.125rem;
    }
    span {
      color: gray;
      font-size: 0.875rem;
    }
  }
  button {
    color: var(--primary-color);
    font-size: 1rem;
    border: 1px solid;
    margin-top: 0.875rem;
    margin-left: auto;
    width: 100%;
    &:hover {
      background-color: #11f1;
    }
    &:disabled {
      opacity: 50%;
    }
  }
</style>

<script>
  async function downloadAudio(
    url: string,
    filename: string,
    btn: HTMLButtonElement,
  ) {
    const originalText = btn.innerText;

    try {
      btn.disabled = true;
      btn.innerText = 'Baixando...';

      const response = await fetch(url);
      if (!response.ok) throw new Error(`Status: ${response.status}`);

      const blob = await response.blob();
      const objectUrl = URL.createObjectURL(blob);

      const link = document.createElement('a');
      link.href = objectUrl;
      link.download = filename;

      document.body.appendChild(link);
      link.click();

      document.body.removeChild(link);
      URL.revokeObjectURL(objectUrl);
    } catch (err) {
      console.error('Erro no download:', err);
      alert('Não foi possível baixar o áudio. Tente novamente.');
    } finally {
      btn.disabled = false;
      btn.innerText = originalText;
    }
  }

  function initDownloadLogic() {
    document.addEventListener('click', (e) => {
      const btn = (e.target as HTMLElement).closest<HTMLButtonElement>(
        '.download-btn',
      );

      if (btn) {
        const url = btn.dataset.url;
        const filename = btn.dataset.filename || 'audio.mp3';

        if (url) {
          downloadAudio(url, filename, btn);
        }
      }
    });
  }

  document.addEventListener('astro:page-load', initDownloadLogic);
</script>
