---
interface Props {
  title: string;
  fileKey: string;
  createdAt: Date;
}

const { title, fileKey, createdAt } = Astro.props;

const BUCKET_PUBLIC_URL = 'https://pub-4acb60e77e00470a9ce80de9a5b1a069.r2.dev';
const musicFullUrl = `${BUCKET_PUBLIC_URL}/${fileKey}`;

// Formatação simples de data
const dateFormatted = new Intl.DateTimeFormat('pt-BR').format(
  new Date(createdAt),
);
---

<div class="card">
  <div class="info">
    <h3>{title}</h3>
    <span>Adicionada em: {dateFormatted}</span>
  </div>

  <!-- <audio controls preload="none">
    <source src={musicFullUrl} type="audio/mpeg" />
    Seu navegador não suporta o elemento de áudio.
  </audio> -->

  <button data-url={musicFullUrl} data-name={fileKey}>Download</button>
</div>

<!-- TODO: Melhorar esse script, os btns estão funcionando, mas será interessante ver se tem como melhorara logica de pega o botão correto e baixar a faixa correta -->
<script>
  document.addEventListener('astro:page-load', () => {});

  const downloadButton = document.querySelectorAll('button[data-url]');

  downloadButton.forEach((button) => {
    button.addEventListener('click', async (e) => {
      e.preventDefault();

      const target = e.target as HTMLButtonElement;
      target.disabled = true;
      target.innerText = 'Baixando...';
      const url = target.getAttribute('data-url');
      await downloadAudio(url ? url.trim() : '');
      target.disabled = false;
      target.innerText = 'Download';
    });
  });

  async function downloadAudio(url: string) {
    try {
      const response = await fetch(url);

      if (!response.ok) {
        throw new Error('Erro ao baixar arquivo');
      }

      const blob = await response.blob();

      const link = document.createElement('a');
      const objectUrl = URL.createObjectURL(blob);

      link.href = objectUrl;
      link.download =
        document
          .querySelector('button[data-url="' + url + '"]')
          ?.getAttribute('data-name') ?? 'audio.mp3';
      document.body.appendChild(link);
      link.click();

      link.remove();
      URL.revokeObjectURL(objectUrl);
    } catch (err) {
      console.error(err);
      alert('Falha ao baixar áudio');
    }
  }
</script>

<style>
  .info h3 {
    margin: 0;
    /*color: #fff;*/
    font-size: 1.1rem;
  }

  .info span {
    color: #888;
    font-size: 0.8rem;
  }

  button {
    background: none;
    border: none;
    color: #4f46e5;
    cursor: pointer;
    font-size: 0.8rem;
  }

  audio {
    width: 100%;
    height: 35px;
  }

  /* Estilizando o player para combinar com o tema escuro (opcional) */
  audio::-webkit-media-controls-enclosure {
    background-color: #2a2a2a;
  }
</style>

<!-- TODO: blá blá blá -->
